@charset "utf-8";
@media screen and (max-width:1860px) {
    .portfolio .column .motionbox .p_category span{
        padding-left: 20px;
    }
}
/* about me */
@media screen and (max-width:1600px) {
    .about_me .about_box .pages {
        border: 1px solid #000;
        border-radius: 60px;
    }
    .about_me .about_box .page1  img{
     width: 75%;
    }
    
    .about_me .about_box .pages h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .about_me .about_box .page2 .education p {
        font-size: 1.2rem;
    }
    .about_me .about_box .page2 .education span {
        font-size: 10px;
    }
    .about_me .about_box .page2 .education strong {
        font-size: 0.8rem;
    }
    .about_me .about_box .page2 .licence .l_box .gtq p{
        font-size: 0.9rem;
        top: 40%;
    }
    .about_me .about_box .page2 .licence .l_box .gtq span {
        top: 58%;
        font-size: 12px;
    }
    .about_me .about_box .page2 .licence .l_box .web p {
        font-size: 0.9rem;
        top: 40%;
    }
    .about_me .about_box .page2 .licence .l_box .web span{
        top: 58%;
        font-size: 12px;
    }
    .about_me .about_box .page2 .software .skills img{
        width: 18%;
    }
    .about_me .about_box .page3 .work_experience .w_bottom .we_box h4 {
        font-size: 1.2rem;
    }
    .about_me .about_box .page3 .work_experience .w_bottom .we_box strong {
        font-size: 0.8rem;
    }
    .about_me .about_box .page3 .work_experience .w_bottom .we_box p {
        font-family: var(--num--font-fam);
        font-size: 10px;
        color: #adadad;
        padding-left: 2px;
    }
    .about_me .about_box .page3 .work_experience .w_bottom .we_box {
        height: 100%;
        justify-content: space-around;
    }
    .about_me .about_box .page3 .work_experience .w_bottom .line .circle {
        margin-top: 30px;
    }
    .portfolio .column .motionbox {
        width: 39.5%;
        height: 550px;
    }
}
@media screen and (max-width:1570px) {
    .intro .text_box .q_text .q_title h4 {
        font-size: 1.6rem;


    }   
    .intro .text_box .q_text p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1410px) {
    .about_me .about_box .page2 .licence .l_box .gtq p{
        font-size: 0.8rem;
        top: 33%;
    }
    .about_me .about_box .page2 .licence .l_box .gtq span {
        top: 48%;
        font-size: 9px;
    }
    .about_me .about_box .page2 .licence .l_box .web p {
        font-size: 0.8rem;
        top: 33%;
    }
    .about_me .about_box .page2 .licence .l_box .web span{
        top: 48%;
        font-size: 9px;
    }
}


@media screen and (max-width:1330px) {
    .works .works_bottom .wlist ul li {
        height: 15%;
    }

    .works .works_bottom .wlist ul li a .tit_box h3 {
        font-size: 2.5rem;
        font-weight: 500;
    }
    .works{
        margin-top: 100px;
    }
    .about_me{
    margin-top: 100px;
    }
    .qualifications {
        width: 100%;
        height:2300px;
        margin-top: 200px;
        margin-bottom: 0;
    }
    .qualifications_title {
        font-size: 7rem;}
        
.intro .container {
    margin-top: 0;

    }
    .intro .text_box {
        margin-top: 50px;
}
.portfolio .column {
    margin-top: 100px;
}

.portfolio .column .motionbox .p_category span{
    padding-left: 20px;
}
.portfolio .column .freesambox .p_category span{
    padding-left: 20px;
}
.portfolio .column .routinebox .p_category span{
    padding-left: 20px;
}
.portfolio .column .cellreturnbox .p_category span{
    padding-left: 20px;
}

.portfolio .column .logobox .p_category span:nth-child(1){
    padding-left: 20px;
   }
   .portfolio .column .logobox .p_category span:nth-child(2){
    padding-left: 20px;
   }
   .portfolio .column .printbox .p_category span:nth-child(1){
    padding-left: 20px;
   }
   .portfolio .column .printbox .p_category span:nth-child(2){
    padding-left: 20px;
   }
}
@media screen and (max-width:1280px) {
    .intro .text_box .q_text .q_title h4 {
        font-size: 1.3rem;
    }   
    .intro .text_box .q_text p {
        width: 1000px;
        font-size: 1.4rem;
}
}
    @media screen and (max-width:1250px) {
        .works .works_bottom .wlist ul li a .tit_box h3 {
            font-size: 2rem;
            font-weight: 400;
        }
        .works .works_bottom .wlist ul li .arrow_grey {
            width: 40px;
        }
    }
    @media screen and (max-width:1230px) {
        .about_me .about_box .page3{
            display: none;
        }
        .about_me .about_box .pages {
            width: 50%;
            height: 670px;
        }
        .contact{
            display: none;
        }
        footer{
            height: 100px;
        }
    
    }
    @media screen and (max-width:1100px){
        .all_works{
            height: 3000px;
        }
        .p_category span {
            padding-left: 250px;    color: #fff;
            font-weight: 200;
            font-size: 0.8rem;
        }
        .portfolio {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .portfolio .column {
            width: 100%;
            height: 550px;
        }
        .portfolio .column .p_box{
            width: 96%;
        }
        footer{
            font-size: 1rem;
        }
    }
    @media screen and (max-width:1050px) {
        .intro .text_box .q_text .q_title h4 {
            font-size: 1.3rem;
        }   
        .intro .text_box .q_text p {
            width: 1000px;
            font-size: 1.2rem;
    }
    .intro .text_box .q_text .q_title {
        width: 40%;
    }
    }
    @media screen and (max-width:980px) {
        header{
            height: 70px;
            font-size: 1.4rem;
        }
        header ul li .logo_Ani {
            height: 70px;
        }
        header ul li .logo_Ani h1 img{
            width: 50px;
        }
        .main_visual{
            height: 700px;
        }
        svg{
            width: 70%;
        }
        /* works */
        .works .works_top {
            height: 50px;
        }
        .works .works_top .title img {
            width: 40px;
        }
        .works .works_top .title h2 {
            font-size: 2rem;
        }
        .works .works_top .see_more_btn a{
            font-size: 1.5rem;
            padding-right: 10px;
        }
        .works .works_top .see_more_btn img {
            width: 50px;
        }
        .about_me .title {
            height: 50px; 
        }
        .about_me .title img {
            width: 40px;
        }
        .about_me .title h2 {
            font-size: 2rem;
    }
    .about_me {
        width: 100%;
        height: 1000px;
        margin-top: 50px;
    }
    .allworks_btn {
        top: 70px;   
        height: 80px;
    }
    }
    /* 워크 오버상황 지우고, 사진 나열  */
    @media screen and (max-width:890px){
        .works .works_bottom .wlist ul li a .tit_box h3 {
            font-size: 1.5rem;
            font-weight: 400;
        }
        .works .works_bottom .wlist ul li .arrow_grey {
            width: 30px;
        }
        .works .works_bottom .wlist ul li:hover .arrow_black {
          width: 40px;
        }
        .works .works_bottom .work_img{
            display: none;
        }
        .works .works_bottom .wlist {
            width: 100%;
            height: 100%;
        }
        .works .works_bottom .wlist ul li a {
            width: 100%;
        }
        .works .works_bottom .wlist ul li a img {
            display: block;
             width: 30%;
            margin-right: 20px;
            }
            footer span{
                display: none;
            }
            footer p {
                margin-right: 0;
            }
    }
    /* -------------------------------------------------------- */
/* about_ */
@media screen and (max-width:840px){
    .about_me {
        height: 1500px;
    }
    .about_me .about_box {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about_me .about_box .pages {
        width: 90%;
        height: 650px;
        border-radius: 30px;
       
    }
    .about_me .about_box .page2 .licence .l_box .gtq p{
        font-size: 0.8rem;
        top: 35%;
    }
    .about_me .about_box .page2 .licence .l_box .gtq span {
        top: 48%;
        font-size: 9px;
    }
    .about_me .about_box .page2 .licence .l_box .web p {
        font-size: 0.8rem;
        top: 33%;
    }
    .about_me .about_box .page2 .licence .l_box .web span{
        top: 48%;
        font-size: 9px;
    }
    .qualifications_title {
        font-size: 5rem;
    }
    .intro .text_box .q_text .q_title h4 {
        font-size: 1.3rem;
    }   
    .intro .text_box .q_text p {
        width: 80%;
        font-size: 1.1rem;
        line-height: 1.3;
}
.intro .text_box .q_text .q_title {
    width: 50%;
}
}



    @media screen and (max-width:700px){
        .main_visual p {
            padding-top: 80px;
            line-height: 1.5;
            font-size: 1.1rem;
        }
        .works .works_bottom .wlist ul li.on {
            color: #000;
            border-bottom: 1px solid #000;
            border-top: 1px solid #000;
        }
        .portfolio {

        }
        .portfolio .column3{
            display: none;
        }
        .portfolio .column{
            flex-direction: column;
            height: auto;
            margin-top: 0;
        }

        .all_works{
            height: 3700px;
        }
        .portfolio .column .motionbox {
            height: auto;
        }

        .portfolio .column .freesambox {
            margin-top: 80px;
            height: auto;
        }
        .portfolio .column .cellreturnbox  {
            margin-top: 80px;
        }
        .portfolio .column .printbox {
            margin-top: 80px;
        }
        .portfolio .column .logobox {
            margin-top: 80px;
        }
        .portfolio .column .routinebox {
            margin-top: 80px; 
        }
    }
/* -------------------------------------------------------- */
@media screen and (max-width:690px){
    .works {
        width: 100%;
        height: 500px;
        margin-top: 60px;
    }
    .works .works_top .title img {
        width: 30px;
    }
    .works .works_top .title h2 {
        font-size: 1.2rem;
    }
    .works .works_top .see_more_btn a{
        font-size: 1.1rem;
        padding-right: 10px;
    }
    .works .works_top .see_more_btn img {
        width: 30px;
    }
    .about_me .title {
        height: 50px; 
    }
    .about_me .title img {
        width: 30px;
    }
    .about_me .title h2 {
        font-size: 1.2rem;
}
.works .works_bottom {
    height: 100%;
    margin-top: 30px;
}
.works .works_bottom .wlist ul li{
    margin-bottom: 20px;
}
.works .works_bottom .wlist ul li a .tit_box span {
    font-size: 0.8rem;
    padding-top: 7px;
    padding-left: 20px;
}
.works .works_bottom .wlist ul li a img {
    display: block;
     width: 30%;
    margin-right: 20px;
    }
    .qualifications {
        margin-top: 100px;
        margin-bottom: 0;
    }
}
@media screen and (max-width:630px){
    .intro .text_box .q_text .q_title h4 {
        font-size: 1.3rem;
    }   
    .intro .text_box .q_text p {
        width: 80%;
        font-size: 1.1rem;
        line-height: 1.3;
}
.intro .text_box .q_text .q_title {
    width: 60%;
}

.portfolio .column3{
    display: none;
  }


}






@media screen and (max-width:560px){
    .about_me .about_box .page2 .licence .l_box .gtq p{
        font-size: 0.8rem;
        top: 29%;
    }
    .about_me .about_box .page2 .licence .l_box .gtq span {
        top: 40%;
        font-size: 9px;
    }
    .about_me .about_box .page2 .licence .l_box .web p {
        font-size: 0.8rem;
        top: 29%;
    }
    .about_me .about_box .page2 .licence .l_box .web span{
        top: 40%;
        font-size: 9px;
    }
    .intro .text_box .q_text .q_title h4 {
        font-size: 1.3rem;
    }   
    .intro .text_box .q_text p {
        width: 80%;
        font-size: 1.1rem;
        line-height: 1.3;
}
.intro .text_box .q_text .q_title {
    width: 70%; height: 60px;
}
}

    @media screen and (max-width:550px){
        header{
            height: 60px;
            font-size: 1rem;
        }
        header ul li .logo_Ani {
            height: 60px;
            width: 90px;
        }
        header ul li .logo_Ani h1 img{
            width: 40px;
        }
        .main_visual{
            height: 400px;
        }
        svg{
            height: 190px;
        }
        .main_visual p {
            padding-top: 0;
            line-height: 1.5;
            font-size: 0.8rem;
        }
        .works {
            height: 400px;
        }
        .works .works_top .title img {
            width: 20px;
        }
        .works .works_top .title h2 {
            font-size: 1rem;
        }
        .works .works_top .see_more_btn a{
            font-size: 1rem;
            padding-right: 10px;
        }
        .works .works_top .see_more_btn img {
            width: 20px;
        }
        .about_me .title {
            height: 20px; 
        }
        .about_me .title img {
            width: 20px;
        }
        .about_me .title h2 {
            font-size: 1rem;
    }
        .works .works_bottom .wlist ul li a .tit_box h3 {
            font-size: 1rem;
        }
        .works .works_bottom .wlist ul li a img {
            display: block;
             width: 30%;
            margin-right: 10px;
            }
            .works .works_bottom .wlist ul li a .tit_box span {
                font-size: 0.5rem;
                padding-top: 4px;
                padding-left: 10px;
            }
            .works .works_bottom .wlist ul li .arrow_grey {
                width: 20px;
            }
            .works .works_bottom .wlist ul li:hover .arrow_black {
              width: 20px;
            }
            .all_works{
                height: 3800px;}
            .allworks_btn {
                top: 60px;   
                height: 60px;

            }
            .allworks_btn .a_btn {
                width: 200px;
                height: 40px;}
                .all_works .allworks_btn .a_btn h2 {
                    color: #ffffff;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            .portfolio .column {
                margin-top: 80px;
            }
            .portfolio .column .freesambox  ul{
                height: 400px;
            }
    }

    @media screen and (max-width:470px){
        .about_me {
            height: 1100px;
        }
        .about_me .about_box .pages{
            height: 500px;
        }
        .about_me .about_box .page1 .name {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 40px;
            padding-bottom: 10px;
        }
        .about_me .about_box .page1 .name span {
            font-size: 1.2rem;
        }
        .about_me .about_box .page1 p {
            width: 150px;
            height: 30px;
            border: 1px solid #000;
            border-radius: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.9rem;
            margin-top: 10px;
        }
        
        .about_me .about_box .page2 h3{
            margin-bottom: 10px;
        }
        .about_me .about_box .page2 .licence .l_box {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
        }
        .about_me .about_box .page2 .education p {
            font-size: 1rem;
        }
        .about_me .about_box .page2 .licence .l_box .gtq p{
            font-size: 0.7rem;
            top: 34%;
        }
        .about_me .about_box .page2 .licence .l_box .gtq span {
            top: 48%;
            font-size: 9px;
        }
        .about_me .about_box .page2 .licence .l_box .web p {
            font-size: 0.7rem;
            top: 34%;
        }
        .about_me .about_box .page2 .licence .l_box .web span{
            top: 48%;
            font-size: 9px;
        }
        .about_me .about_box .page2 .software .skills .s_top {
            margin-bottom: 8px;
        }
        .intro .container {
            height:100%;
        }
        .qualifications_title {
            font-size: 5rem;
        }
        .intro .text_box .q_text .q_title h4 {
            font-size: 1.2rem;
        }   

        footer{
            background: #0C0C0C;
        }
        footer .container{
            bottom: 20px;
            color: #fff;
          }
    }

    @media screen and (max-width:420px){
        .about_me .about_box {
            width: 96%;}
        .about_me .about_box .pages {
            width: 100%;
           
        }
        .about_me .about_box .page1 img{
            width: 60%;
        }
        .about_me .about_box .page2 .licence .l_box .gtq p{
            font-size: 0.7rem;
            top: 40%;
        }
        .about_me .about_box .page2 .licence .l_box .gtq span {
            top: 57%;
            font-size: 9px;
        }
        .about_me .about_box .page2 .licence .l_box .web p {
            font-size: 0.7rem;
            top: 40%;
        }
        .about_me .about_box .page2 .licence .l_box .web span{
            top: 57%;
            font-size: 9px;
        }
        .qualifications_title {
            font-size: 4rem;
        }
        .intro .text_box .q_text .q_title h4 {
            font-size: 1.1rem;
        }   
        .intro .text_box .q_text p {
            width: 80%;
            font-size: 0.9rem;
            line-height: 1.3;
    }
    .intro .text_box .q_text .q_title {
        width: 70%; height: 50px;
    }
    footer{
        font-size: 0.9rem;
        
    }
    footer span{
        display: none;
    }
    footer p {
        margin-right: 0;
    }
    .portfolio .column .freesambox  ul{
        height: 340px;
    }
    }