@charset "utf-8";
@media screen and (max-width : 1580px) {
    .inner {
        width: 900px;
        /* overflow: hidden; */
    }
    /* header */
    .top_btn{
       width: 30px;
       height: 30px;
       right: 24px;
       bottom: 30px;
    }
    .wrap{
        margin-top: 80px;
    }
    header {
        height: 80px;
        background: var(--main-color);
    }
    .top{
        height: 100%;
    }
    header .ham {
        display: block;
        left: 0px;
        top: 19px;
    }
    header .inner{
        width: 90%;
    }
    .top h1 {
        color: #edeef1;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        position: absolute;
        left: 50%;
        top: 38px;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    nav {
        display: none;
    }

    .top .right {
        margin-top: 0;
    }

    .top .s_right {
        width: 150px;
        height: 30px;
        top: 25px;
        gap: 30px;
        position: absolute;
        right: 0;
        top: 40px;
        transform: translateY(-50%);
    }

    .top .search {
        border: 0;
        height: 100%;
        margin-top: 0;
    }

    .top .search .sc_btn {
        background-image: url(../img/search_tb.png);
    }

    .top .search input {
        display: none;
    }

    .top .right .join_m {
        display: none;
    }

    .top .right .h_icon {
        gap: 30px;
    }

    .top .right .h_icon li img {
        display: none;
    }

    .top .right .h_icon li:last-child img {
        display: none;
    }

    .top .right .h_icon li:nth-child(1) a {
        background-image: url(../img/user_w.png);
        background-size: 28px 28px;
    }

    .top .right .h_icon li:nth-child(2) a {
        background-image: url(../img/Handbag_w.png);
        background-size: 28px 28px;
    }

    main section h3 {
        font-size: 40px;
    }

    /* main_banner */
    .main_banner {
        height: 500px;
    }

    .main_banner .banner_slide_wrap li {
        background-image: url(../img/banner_bg1_tb.jpg);
    }

    .main_banner .banner_slide_wrap li.main3 {
        background-image: url(../img/banner_bg3_tb.png);
    }

    .main_banner .banner_slide_wrap li .b_txt {
        top: 165px;
        left: 50px;
    }

    .main_banner .banner_slide_wrap li.main2 .b_txt {
        top: 176px;
        left: 115px;
    }

    .main_banner .banner_slide_wrap li.main3 .b_txt {
        top: 150px;
        left: 28px;
    }

    .main_banner .banner_slide_wrap li .b_txt .name_tag {
        padding: 8px 12px;
    }

    .main_banner .banner_slide_wrap li .b_txt .name_tag p {
        font-size: 16px;
    }

    .main_banner .banner_slide_wrap li .b_txt p {
        font-size: 18px;
    }

    .main_banner .banner_slide_wrap li .b_txt h2 {
        padding: 5px 0 8px;
        font-size: 38px;
        line-height: 50px;
    }

    .main_banner .banner_slide_wrap li .b_txt h2 b {
        font-size: 36px;
        font-weight: 500;
        line-height: 50px;
    }

    .main_banner .banner_slide_wrap li .b_img {
        right: 52px;
        top: 95px;
    }

    .main_banner .banner_slide_wrap li.main2 .b_img {
        right: 95px;
        top: 13px;
    }

    .main_banner .banner_slide_wrap li.main3 .b_img {
        right: 50px;
        top: 36px;
        gap: 20px;
    }

    .main_banner .banner_slide_wrap li.main1 .b_img img {
        width: 340px;
        height: 555px;
    }

    .main_banner .banner_slide_wrap li.main2 .b_img img {
        width: 343px;
        height: 480px;
    }

    .main_banner .banner_slide_wrap li.main3 .b_img img:nth-child(1) {
        width: 156px;
        height: 445px;
    }

    .main_banner .banner_slide_wrap li.main3 .b_img img:nth-child(2) {
        width: 140px;
        height: 322px;
    }

    /* best_seller */
    .best_seller .bs_list {
        flex-wrap: wrap;
        gap: 90px;
    }

    /* .bs_plus {
        font-size: 28px;
    }

    .bs_plus img {
        width: 32px;
        height: 32px;
    } */
    /* promotion */
    .promotion .video_slide_wrap li {
        border-radius: 3px;
        width: 800px;
        height: 436px;
    }

    .promotion_video {
        height: 435px;
        margin-top: 80px;
    }

    /* pick */
    .pick {
        padding: 100px 0 170px;
    }

    .pick .con {
        padding: 0 22px;
        gap: 0;
        justify-content: space-between;
        margin-top: 60px;
    }


    .pick .con .pick_img {
        width: 350px;
        height: 350px;
        border-radius: 16px;
    }

    .pick .con .pick_img img {
        width: 320px;
        height: 310px;
    }

    .pick .con .pick_right {
        gap: 8px;
        justify-content: center;
    }

    .pick .con .pick_right h4 {
        font-size: 36px;
        letter-spacing: -0.36px;
        height: 90px;
        margin-top: 0;
    }

    .pick .con .p_txt>p {
        font-size: 22px;
    }

    .pick .con .p_txt .discount_price {
        margin-top: 40px;
    }

    .pick .con .p_txt .discount_price p {
        font-size: 24px;
    }

    .pick .con .p_txt .discount_price em {
        font-size: 18px;
    }

    .pick .con .p_txt .discount_price strong {
        font-size: 32px;
    }

    .pick .con .p_txt .scope {
        margin-top: 6px;
    }

    .pick .con .p_txt .scope img {
        width: 16px;
        height: 16px;
    }

    .pick .con .p_txt .scope span {
        font-size: 16px;
    }

    .pick .con .p_txt .bs_btn {
        margin-top: 20px;
    }
    .pick .con .p_txt .btn_box>a p{
        display: none;
    }
    /* .pick .con .p_txt .bs_btn {
        background-size: 24px;
        width: 225px;
        height: 45px;
        border-radius: 7px;
        font-size: 20px;
        background-position: 75px 9px;
        padding-left: 30px;
    } */
    /* sub_banner */
    .sub_banner .inner {
        padding: 40px 50px;
        gap: 0;
    }

    .sub_banner .sb_left .txt h3 {
        font-size: 40px;
    }

    .sub_banner .sb_left .txt p {
        font-size: 18px;
        font-weight: 500;
        margin-top: 3px;
    }

    .sub_banner .sb_left .emj_all {
        padding-left: 2px;
        margin-top: 32px;
    }

    .sub_banner .sb_left .emj_all img {
        width: 294px;
        height: 85px;
    }

    .sub_banner .sb_right span {
        font-size: 19px;
        top: 37px;
        left: 11px;
    }

    .sub_banner .sb_right img {
        width: 378px;
        height: 258px;
        margin-top: 10px;
    }

    /* best_review */
    .best_review {
        padding: 110px 0 120px;
    }

    .best_review .br_list {
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    /* our_business */
    .our_business {
        padding: 120px 0 100px;
    }

    .our_business h3 {
        font-size: 36px;
    }

    .our_business .ob_list {
        flex-wrap: wrap;
        gap: 120px;
        justify-content: center;
        margin-top: 40px;
    }

    .our_business .ob_list li {
        gap: 0;
    }

    .our_business .ob_list li .icon {
        width: 288px;
        height: 288px;
    }

    .our_business .ob_list li.ob1 .icon img {
        width: 209px;
        height: 201px;
    }

    .our_business .ob_list li.ob2 .icon img {
        width: 235px;
        height: 147px;
    }

    .our_business .ob_list li.ob3 .icon img {
        width: 158px;
        height: 207px;
    }

    .our_business .ob_list li.ob4 .icon img {
        width: 194px;
        height: 187px;
    }


    /* footer */
    footer {
        padding: 50px 0 30px;
    }

    footer .inner {
        gap: 60px;
    }

    footer .f_top {
        padding: 0;
    }

    footer .f_top strong {
        font-size: 24px;
        font-weight: 600;
    }

    footer .f_top div {
        gap: 16px;
    }

    footer .f_top ul {
        gap: 10px;
    }

    footer .f_top ul li a {
        font-size: 16px;
    }

    footer .f_top .tel strong {
        font-size: 25px;
    }

    footer .f_top .tel span {
        font-size: 15px;
    }

    footer .f_top .sns ul {
        gap: 40px;
    }

    footer .f_bottom {
        padding: 0;
    }

    footer .f_bottom .f_logo {
        font-size: 42px;
        line-height: 42px;
    }

    footer .f_bottom .copy p {
        font-size: 15px;
    }


}

@media screen and (max-width : 900px) {
    .wrap{
        margin-top: 70px;
    }
    header {
        height: 70px;
    }
    .fix{
        width: 100%;
        padding: 70px 30px 50px;
    }
    .fix .ham_icon .icon {
        gap: 18px;
    }
    .fix .icon img {
        width: 26px;
        height: 26px;
    }
    
    .fix .icon li:nth-child(3) img {
        width: 28px;
        height: 28px;
    }
    .fix .close{
        right: 20px;
        top: 40px;
    }
    .fix .close img {
        width: 30px;
        height: 30px;
    }
    .fix .ham_nav {
        padding-top: 50px;
    }
    .fix .ham_gnb{
        width: 100%;
        gap: 25px;
    }
    .fix .ham_gnb li{
        font-size: 20px;
        width: 320px;
    }
    .fix .ham_gnb>li button{
        width: 25px;
        height: 25px;
    }
    .fix .ham_gnb li .ham_sub{
        /* display: flex; */
        flex-wrap: wrap;
        width: 90%;
        gap:10px;

       text-align: left;
    }
    .fix .ham_gnb li .ham_sub li{
        width: 30%;
        font-size: 18px;
    }
    .fix .ham_gnb li .ham_sub li:last-child{
        flex: 1;
    }
    .fix .ham_join .join_m li a{
        font-size: 16px;
        padding-right: 7px;
        font-weight: 300;
    }
    .inner {
        width: 350px;
        height: 100%;
        /* gap: auto; */
        justify-content: center;
        align-items: center;
    }

    header .ham {
        left: 90%;
        top: 50%;
        transform: translateY(-50%);
    }

    .top h1 {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 36px;
        line-height: 36px;
        padding-bottom: 6px;
        text-align: right;
        /* width: auto; */
    }

    .top .s_right {
        display: none;
    }

    /* main_banner */
    .swiper-pagination-bullet{
        display: none;
    }
    main section h3 {
        font-size: 30px;
    }

    .main_banner {
        height: 300px;
    }

    .main_banner .banner_slide_wrap li {
        background-image: url(../img/banner_bg1.jpg);
    }

    .main_banner .banner_slide_wrap li.main3 {
        background-image: url(../img/banner_bg3.jpg);
    }

    .main_banner .banner_slide_wrap li .b_txt {
        top: 13px;
        left: 0;
        align-items: flex-start;
        gap: 10px;
        transform: translateX(-100px);
    }

    .main_banner .banner_slide_wrap li.main2 .b_txt {
        top: 100px;
        left: 7px;
    }

    .main_banner .banner_slide_wrap li.main3 .b_txt {
        top: 13px;
        left: 0;
    }

    .main_banner .banner_slide_wrap li .b_txt .name_tag {
        padding: 7px 10px;
    }

    .main_banner .banner_slide_wrap li .b_txt .name_tag p {
        font-size: 13px;
    }

    .main_banner .banner_slide_wrap li .b_txt>p {
        display: none;
    }

    .main_banner .banner_slide_wrap li .b_txt h2 {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        padding: 0;
        text-align: left;
    }

    .mb_br {
        display: block;
    }

    .main_banner .banner_slide_wrap li .b_txt h2 b {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
    }

    .main_banner .banner_slide_wrap li .b_img {
        right: 0;
        top: 70px;
        transform: translateY(200px);
    }
    .main_banner .banner_slide_wrap li.main3 .b_img{
        transform: translateY(0);
    }
    .main_banner .banner_slide_wrap li.main2 .b_img {
        right: -10px;
        top: 14px;
    }

    .main_banner .banner_slide_wrap li.main3 .b_img {
        right: 0;
        top: 54px;
        gap: 4px;
    }

    .main_banner .banner_slide_wrap li.main1 .b_img img {
        width: auto;
        height: 310px;
    }

    .main_banner .banner_slide_wrap li.main2 .b_img img {
        width: 200px;
        height: auto;
    }

    .main_banner .banner_slide_wrap li.main3 .b_img img:nth-child(1) {
        width: auto;
        height: 230px;
    }

    .main_banner .banner_slide_wrap li.main3 .b_img img:nth-child(2) {
        width: auto;
        height: 160px;
    }

    /* best_seller */
    .best_seller{
        padding: 70px 0 80px;
    }
    .best_seller .bs_list {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
        padding: 0;
        width: 100%;
        margin-top: 50px;
    }

    .best_seller .bs_list li {
        width: 160px;
        margin-bottom: 30px;
    }

    .best_seller .bs_list li a {
        gap: 8px;
    }

    .best_seller .bs_list li .bs_top .bs_img {
        width: 160px;
        height: 140px;
        border-radius: 2px;
    }

    .best_seller .bs_list li .bs_top .bs_img img {
        width: 90%;
        height: auto;
    }

    .best_seller .bs_list li .bs_bottom>strong {
        font-size: 16px;
        width: 160px;
        margin-bottom: 0;
    }

    .best_seller .bs_list li .bs_bottom>strong>br {
        display: none;
    }

    .mb_p {
        font-size: 14px;
    }

    .mb_p>br {
        display: none;
    }

    .bs3 .mb_p {
        letter-spacing: -0.5px;
    }

    .best_seller .bs_list li .bs_bottom>span {
        display: none;
    }

    .best_seller .bs_list li .bs_bottom .discount_price {
        flex-wrap: wrap;
        margin-top: 8px;
    }

    .best_seller .bs_list li .bs_bottom .discount_price p {
        font-size: 16px;
        line-height: 17px;
    }

    .best_seller .bs_list li .bs_bottom .discount_price em {
        font-size: 14px;
    }

    .best_seller .bs_list li .bs_bottom .discount_price strong {
        font-size: 18px;
    }

    .best_seller .bs_list li .bs_bottom .scope {
        /* position: absolute;
        right: 0;
        top: 48px; */
    }

    .best_seller .bs_list li .bs_bottom .scope span {
        font-size: 12px;
    }

    .scope img {
        width: 12px;
        height: 12px;
    }

    .bs_btn {
        background-image: url(../img/Handbag_G.png);
        background-position: center center;
        font-size: 0;
        background-color: transparent;
        width: 30px;
        height: 30px;
        padding-left: 0;
        position: absolute;
        right: 0;
        bottom: -5px;
    }

    .bs_btn:hover {
        background-color: transparent;
    }

    .bs_plus {
        /* transform: scale(.9); */
        font-size: 18px;
        padding: 8px 50px;
    }

    .bs_plus img {
        width: 20px;
        height: 20px;
    }

    /* promotion */
    .promotion{
        padding: 60px 0 80px;
    }
    .promotion_video {
        width: 100%;
        height: 190px;
        margin-top: 40px;
    }
    .promotion .video_slide_wrap li {
        border-radius: 2px;
        width: 350px;
        height: 190px;
    }

    /* pick */
    .pick{
        padding: 60px 0 80px;
    }
    .pick .con {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }

    .pick .con .pick_img {
        width: 280px;
        height: 280px;
    }

    .pick .con .pick_img img {
        width: 90%;
        height: auto;
    }

    .pick .con .pick_right {
        gap: 20px;
    }

    .pick .con .pick_right h4 {
        text-align: center;
        font-size: 23px;
        letter-spacing: -0.23px;
        margin-top: 0;
        height: auto;
    }

    .pick .con .p_txt {
        position: relative;
        width: 257px;
    }

    .pick .con .p_txt>p {
        font-size: 20px;
    }

    .pick .con .p_txt .discount_price {
        margin-top: 12px;
    }

    .pick .con .p_txt .discount_price p {
        font-size: 18px;
    }

    .pick .con .p_txt .discount_price em {
        font-size: 15px;
    }

    .pick .con .p_txt .discount_price strong {
        font-size: 22px;
    }

    .pick .con .p_txt .scope {
        margin-top: 8px;
    }

    .pick .con .p_txt .scope img {
        width: 14px;
        height: 14px;
    }

    .pick .con .p_txt .scope span {
        font-size: 14px;
    }
 
    .pick .con .p_txt .bs_btn {
        margin-top: 0;
        bottom: 0;
    }
    .pick .con .p_txt .btn_box>a img{
        width: 26px;
        height: 26px;
        margin-top: 10px;
    }
    /* sub_banner */
    .sub_banner{
        background: linear-gradient(162deg, #FF9B1B -0.07%, #FFC652 41.89%, #FFF8A7 100.06%);;
    }
    .sub_banner .inner {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 40px 0 30px;
    }
    .sub_banner .sb_left .emj_all{
        display: none;
    }
    .sub_banner .sb_left .txt h3{
        font-size: 38px;
    }
    .sub_banner .sb_left .txt p{
        margin-top: 8px;
    }
    .sub_banner .sb_right img{
        width: 230px;
        height: auto;
    }
    .sub_banner .sb_right span {
        width: 100px;
        font-size: 17px;
        line-height: 16px;
        top: 18px;
        left: 18px;
    }
    /* best_review */
    .best_review{
        padding: 60px 0 80px;
    }
    .best_review .br_list{
        flex-direction: column;
        gap: 40px;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .best_review .br_list li{
        flex-direction: row;
        flex-wrap: wrap;
        width: 350px;
    }
    .best_review .br_list li .br_top a{
        flex-direction: row;
        gap: 30px;
        padding: 16px 0;
        margin: 0 12px;
        border-bottom: 1px solid var(--stroke-og);
    }
    .best_review .br_list li .br_top .br_tit{
        border: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;

    }
    .best_review .br_list li .br_top .br_tit b{
        font-size: 18px;
        text-align: left;
    }
    .best_review .br_list li .br_top .br_tit .id_date{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }
    .best_review .br_list li .br_top .br_tit .id_date span{
        font-size: 16px;
    }
    .best_review .br_list li .br_top img{
        width: 170px;
        height: 135px;
    }
    .best_review .br_list li .br_bottom .br_nametag a{
        justify-content: space-evenly;
        padding: 16px 12px;
    }
    .best_review .br_list li .br_bottom .br_nametag a p{
        font-size: 16px;
    }
     /* our_business */
     .our_business {
        padding: 100px 0 120px;
    }
    .our_business .ob_list{
        gap: 60px;
    }
    .our_business h3 {
        font-size: 26px;
        font-weight: 500;
    }
    .our_business .ob_list li .icon {
        width: 250px;
        height: 250px;
    }
    .our_business .ob_list li.ob1 .icon img {
        width: auto;
        height: 175px;
    }

    .our_business .ob_list li.ob2 .icon img {
        width: 204px;
        height: auto;
    }

    .our_business .ob_list li.ob3 .icon img {
        width: auto;
        height: 180px;
    }

    .our_business .ob_list li.ob4 .icon img {
        width: auto;
        height: 162px;
    }
        /* footer */
        footer{
            padding: 30px 0 25px;
        }
        footer .inner {
            gap: 50px;
            position: relative;
        }
        footer .f_top{
            flex-direction: column;
            margin-top: 70px;
            gap: 12px;
        }
        footer .f_top strong{
            font-size: 18px;
            font-weight: 500;
        }
        footer .f_top ul{
            flex-direction: row;
            flex-wrap: wrap;
        }
        footer .f_top ul li a{
            font-weight: 300;
        }
        footer .f_top .tel{
            order: 3;
            margin-top: 30px;
            gap: 5px;
        }
        footer .f_top .tel strong {
            font-size: 18px;
        }
        footer .f_top .tel span {
            font-size: 13px;
            font-weight: 200;
        }
        footer .f_top .sns{
            position: absolute;
            right: 0;
            top: 6px;
        }
        footer .f_top .sns ul{
            gap: 10px;
        }
        footer .f_top .sns img{
            width: 32px;
            height: 32px;
        }
        footer .f_top .sns strong{
            display: none;
        }
        footer .f_bottom .f_logo{
            position: absolute;
            left: 0;
            top: 0;
            font-size: 32px;
        }
        footer .f_bottom{
            width:100%;
            justify-content: flex-start;
        }
        footer .f_bottom .copy p{
            font-size: 13px;
            font-weight: 200;
        }
}